.account__content {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 30px;
}

.account__user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__user-details {
  margin: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account__user-detail-container {
  margin: 10px;
}

.account__user-info {
  font-weight: bold;
  font-size: 1.1rem;
}

.account__form--label,
.account__user-detail-option {
  margin-right: 10px;
  white-space: nowrap;
  font-weight: 700;
}

.account__container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__button-container--edit {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 30px;
  margin: 10px;
}

.account__button--edit {
  border: none;
  background-color: inherit;
}

.account__button--edit-icon {
  height: 25px;
  width: 25px;
}

.account__form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__form--inputs-container {
  display: flex;
  margin: 12px;
  align-items: center;
  width: 100%;
}

.account__form--input-readonly,
.account__form--input-text,
.account__form--input,
.account__user-detail-option-info {
  background-color: inherit;
  color: var(--header-text-color);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-family: var(--main-font);
}

.account__form--input-readonly.dark,
.account__form--input-text.dark,
.account__form--input.dark,
.account__user-detail-option-info.dark {
  background-color: inherit;
  color: var(--header-text-color--dark);
}

.account__form--input-readonly:focus,
.account__form--input-readonly:active {
  outline: none;
  border: none;
}

.account__form--input {
  border-radius: 5px;
  padding: 2px 5px;
  border: 0.5px solid #c9c9c9;
}

.account__form--input:focus,
.account__form--input:active {
  outline: none;
  border: 0.5px solid #c9c9c9;
}

.account__form--input-readonly.dark,
.account__form--input-text.dark {
  background-color: inherit;
}

.account__user-photo--container {
  position: relative;
  display: inline-block;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account__user-photo--content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 0.5px solid var(--medium-green--dark);
}

.account__user-photo,
.account__user-icon {
  width: 200px;
}

.account__user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.account__user-icon {
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  width: 200px;
}

.account__user-photo.account__user-photo--content-hovered,
.account__user-icon.account__user-photo--content-hovered {
  filter: opacity(70%);
}

.account__user-image--icons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__user-image--icon {
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .account__button-container--edit {
    right: 10px;
  }

  .account__user-photo--container {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .account__user-details {
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
  }

  .account__content {
    flex-direction: column;
    justify-content: center;
  }

  .account__container {
    width: 80%;
  }

  .account__form--inputs-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .account__button--edit-icon {
    height: 25px;
    width: 25px;
  }

  .account__form--inputs-container {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 500px) {
  .account__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .account__buttons--container {
    flex-direction: column;
  }

  .account__container {
    font-size: 0.9rem;
  }

  .account__button-container--edit {
    position: absolute;
    top: -20px;
    right: -30px;
  }
}
