.account__content {
  margin-top: var(--header-hight);
  padding: 20px;
}

.account__content-container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.account__content-container.dark {
  background-color: var(--medium-green--dark);
  box-shadow: 0 0 10px #0000001a;
}
