* {
    box-sizing: border-box;
}

.header {
    /* flex-direction: row;
    align-items: center;
    flex-wrap: nowrap; */
    display: flex;
}

.logo__img {
    height: 9rem;
}

.navigation__list {
    list-style-type: none;
}
