.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--medium-green--dark);
  animation: underline 0.6s forwards;
}

.active.dark::after {
  background-color: var(--header-text-color--dark);
}

@keyframes underline {
  to {
    width: 100%;
  }
}
