.login__navigate-link {
  color: var(--dark-green);
  font-weight: bold;
}

.login__navigate-link:visited {
  color: var(--dark-green);
}

.login__navigate-link:hover {
  color: var(--orange);
}

.login__navigate-link:active {
  color: var(--orange);
}

.login__content-modal {
  background-color: var(--light-green);
  min-height: 280px;
  width: var(--modal-width);
  border: 1px solid var(--light-green);
  border-radius: 25px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.login__content-modal.dark {
  background-color: #252927;
  color: var(--modal-text-color);
  border: 1px solid #252927;
}

.login__container--reset-password,
login__container--register {
  margin: 10px;
  text-align: center;
}
