:root {
  --header-hight: 80px;
  --header-width: 100%;
}

.header__container {
  height: var(--header-hight);
  background: var(--medium-green);
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: var(--header-width);
  position: fixed;
  z-index: 999;
}

.logo {
  flex-grow: 1;
}

.header__name {
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.6rem;
}

.header__name.light {
  color: var(--dark-gray);
}

.logo__link__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img {
  height: calc(var(--header-hight) * 0.6);
  margin: 0 20px;
  border-radius: 50%;
}

.logo__img.light {
  background-color: var(--light-green);
}

/* Navigation */
.global-nav__container {
  height: 100%;
  flex-grow: 4;
}

.global-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: right;
  align-items: center;
}

.global-nav__list {
  list-style-type: none;
  display: flex;
  height: 100%;
}

.global-nav__list-item {
  text-transform: uppercase;
  font-weight: bold;
  min-width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.global-nav__list-item:active {
  background-color: rgba(240, 248, 255, 0.224);
  color: var(--white);
}

.global-nav__list-user {
  height: 100%;
  color: var(--dark-green);
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.global-nav__list-user--detail {
  color: var(--light-green);
  font-weight: bold;
}

.global-nav__list-item-link {
  height: 100%;
  color: var(--light-green);
}

.global-nav__list-item-link:visited {
  color: var(--light-green);
}

.global-nav__list-item-link:hover {
  color: var(--white);
}

.global-nav__list-item-link:active {
  color: var(--orange);
}

.global-mode__container,
.header__account-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.global-mode__button,
.header__account-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.global-mode__icon,
.header__account-icon {
  height: 30px;
  width: 30px;
}

.header__container.dark {
  background: var(--medium-green--dark);
}

.global-nav__list-item-link.dark:hover {
  color: var(--orange--dark);
}

.active {
  background-color: rgba(240, 248, 255, 0.224);
  color: var(--white);
}
