.page-content__container {
  padding: var(--header-hight) 0;
  text-align: left;
  min-height: 100vh;
}

.page-content__container.dark {
  background-color: var(--black);
  box-shadow: 0 0 10px #0000001a;
}
