.page-content {
  padding: 0 10px;
}

.page-content__container {
  background-color: var(--white);
  box-shadow: 0 0 10px #0000001a;
  padding: 80px 0;
  text-align: left;
}

.page-content__container.dark {
  background-color: var(--black);
  box-shadow: 0 0 10px #0000001a;
}
