.recipes__aside {
  flex: 0 0 auto;
  width: 300px;
  margin: 0 20px 0 40px;
}

.recipes__aside-list {
  border: 1px solid var(--light-green);
  border-radius: 8px;
  background-color: #b9ddd793;
  list-style-type: none;
  padding: 0;
  margin: 0px 25px;
}

.recipes__aside-list.dark {
  border: 1px solid var(--light-green--dark);
  border-radius: 8px;
  background-color: #252927;
}

.recipes__aside-list-option {
  font-size: 1.2rem;
  padding: 15px 25px;
  display: block;
}

.recipes__aside-list-option-link {
  text-decoration: none;
  color: var(--header-text-color);
}

.recipes__aside-list-option-link.dark {
  color: var(--header-text-color--dark);
}

.recipes__aside-list-option:hover,
.recipes__aside-list-option.active {
  background-color: rgba(255, 254, 254, 0.511);
}

.recipes__aside-list-option.dark:hover,
.recipes__aside-list-option.active.dark {
  background-color: rgba(240, 248, 255, 0.158);
}
