:root {
  --dark-green: #166563;
  --medium-green: #61b9b6;
  --light-green: #e4f1ef;
  --orange: #ff9400;
  --white: #ffffff;
  --dark-gray: #333333;
  --light-gray: #dddddd;
  --header-hight: 180px;
  --header-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* header ---->*/
/* .header {
} */

.header__container {
  height: var(--header-hight);
  background: var(--medium-green);
  border-bottom: solid 2px var(--orange);
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  width: var(--header-width);
  position: fixed;
}

.logo__img {
  height: calc(var(--header-hight) * 0.9);
  margin: 0 16px;
}

/* Navigation */
.global-nav {
  display: flex;
  /* align-items: center; */
}

.global-nav__list {
  list-style-type: none;
  display: flex;
}

.global-nav__list-item {
  margin: 20px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* link ---> */
.global-nav__list-item-link:link {
  color: var(--light-green);
}

.global-nav__list-item-link:visited {
  color: var(--light-green);
}

.global-nav__list-item-link:hover {
  color: var(--orange);
}

.global-nav__list-item-link:active {
  color: var(--orange);
}
/* <---link */
/* <------ header*/

/* main ---->*/

/* Main container */
main {
  margin-top: var(--header-hight);
  background-color: var(--light-green);
  padding: 20px;
  text-align: center;
}

/* Recipes section */
.recipes {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.recipes h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.recipes__list {
  list-style: none;
}

.recipes__list--option {
  display: flex;
  /* justify-content: space-around; */
  align-items: baseline;
}

.recipes__items-list {
  list-style: none;
  padding: 0;
  border: 1px solid var(--light-green);
  border-radius: 4px;
  /* background-color: var(--orange); */
  /* flex-grow: 1; */
  flex-basis: 0;
}

.recipes li {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.recipes ul li {
  margin-left: 20px;
}

.recipes p {
  font-size: 1em;
}
/* <------ main*/

/* footer ---->*/
/* Footer container */
.footer {
  border-top: solid 2px var(--orange);
  background-color: var(--dark-gray);
  color: var(--light-green);
  padding: 20px 0;
  text-align: center;
}

/* Footer content wrapper */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Footer logo */
.footer-logo h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Footer navigation links */
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: var(--white);
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--orange);
}

/* Footer social media links */
.footer__brand-logo {
  width: 100px;
}

.footer__brand-name {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social a {
  color: var(--white);
  font-size: 1.5em;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: var(--orange);
}

img.footer__social-icon {
  height: 25px;
  margin: 10px;
}

/* Footer copyright section */
.footer__bottom {
  margin-top: 20px;
}

.footer__copy {
  font-size: 0.8rem;
}
/* <------ footer*/
