@import "./index.css";

:root {
  --dark-green: #166563;
  --medium-green: #93bcbb;
  --light-green: #e6edec;
  --orange: #dab887;
  --white: #ffffff;
  --dark-gray: #333333;
  --light-gray: #dddddd;
  --header-hight: 180px;
  --header-width: 100%;
  --header-text-color: rgb(77, 77, 77);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--header-text-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}
