:root {
  --dark-green: #166563;
  --medium-green: #61b9b6;
  --light-green: #e4f1ef;
  --orange: #ff9400;
  --white: #ffffff;
  --dark-gray: #333333;
  --light-gray: #dddddd;
  --header-hight: 180px;
  --header-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
