@import "./App.css";

:root {
  --modal-width: 500px;
  --modal-height: 380px;
  --modal-text-color: #777575;
  --modal-bg-color: #c8dedd;
  --modal-border-color: #ccc;
  --modal-label-text-font-size: 1.1rem;
  --modal-input-bg-focus-color: #eff6f6fc;
  --modal-input-border-focus-color: #a5adb5;
  --modal-input-valid-color: #70ceab;
  --modal-input-invalid-color: #e98f8f;
  --modal-button-text-font-size: 1.1rem;
  --modal-button-bg-color--hover: #93bcbb;
  --modal-button-shadow-color: #617d7c;
  --modal-button-text-color: #777575;
  --modal-button-text-color-hover: #fff;

  /* SCALING VALUES */
  /* 1024px */
  --modal-scale-with-value-1024: 0.9;
  --modal-scale-height-value-768: 0.9;
  /* 768px */
  --modal-scale-with-value-768: 0.8;
  --modal-scale-height-value-768: 0.96;
  --text-scale-value-768: 0.92;
  /* 480px */
  --modal-scale-with-value-480: 0.6;
  --modal-scale-height-value-480: 0.92;
  --text-scale-value-480: 0.85;
}

.contact-content {
  margin-top: var(--header-hight);
  padding: 20px;
}

.contact-content__container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.contact-content__header {
  font-size: 1.5em;
  margin: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  padding: 20px;
  border-bottom: 2px solid var(--header-text-color);
}

.contact-content__paragraph {
  margin: 30px 80px;
  text-align: justify;
  font-size: 1.1rem;
}

.contact-content__modal {
  background-color: var(--modal-bg-color);
  color: var(--modal-text-color);
  height: var(--modal-height);
  width: var(--modal-width);
  border: 1px solid var(--modal-border-color);
  border-radius: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.contact-content__modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--modal-label-text-font-size);
  margin-top: 30px;
}

.contact-content__form-label {
  display: block;
  margin: 0 60px 5px;
  font-weight: bold;
  align-self: flex-start;
}

.contact-content__form-input--text,
.contact-content__form-input--email,
.contact-content__form-input--textarea {
  width: 80%;
  padding: 10px;
  margin: 0 10px 6px;
  border: 1.5px solid var(--modal-border-color);
  border-radius: 5px;
  cursor: text;
}

.contact-content__form-input--textarea {
  resize: none;
}

.contact-content__form-input--text:focus,
.contact-content__form-input--email:focus,
.contact-content__form-input--textarea:focus {
  background-color: var(--modal-input-bg-focus-color);
  border: 1.5px solid var(--modal-input-border-focus-color);
  outline: none;
  box-shadow: 0 0 5px var(--modal-input-border-focus-color);
}

.contact-content__form-input--text:valid,
.contact-content__form-input--email:valid,
.contact-content__form-input--textarea:valid {
  border: 1.5px solid var(--modal-input-valid-color);
  box-shadow: 0 0 2px var(--modal-input-valid-color);
}

/* invalid when not focused */
.contact-content__form-input--text:invalid:not(:focus):not(:placeholder-shown),
.contact-content__form-input--email:invalid:not(:focus):not(:placeholder-shown),
.contact-content__form-input--textarea:invalid:not(:focus):not(
    :placeholder-shown
  ) {
  border: 1.5px solid var(--modal-input-invalid-color);
  box-shadow: 0 0 2px var(--modal-input-invalid-color);
}

/* invalid when click submit  */
.contact-content__form-input--text:invalid:focus:not(:placeholder-shown),
.contact-content__form-input--email:invalid:focus:not(:placeholder-shown),
.contact-content__form-input--textarea:invalid:focus:not(:placeholder-shown) {
  border: 1.5px solid var(--modal-input-invalid-color);
  box-shadow: 0 0 2px var(--modal-input-invalid-color);
}

.contact-content__form-input--submit {
  background-color: var(button-background-color);
  color: var(--modal-button-text-color);
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--modal-button-text-font-size);
  width: 40%;
  box-shadow: 0 0 4px var(--modal-button-shadow-color);
}

.contact-content__form-input--submit:hover {
  background-color: var(--modal-button-bg-color--hover);
  color: var(--modal-button-text-color-hover);
  text-shadow: 0px 0px 6px var(--modal-button-shadow-color);
}

@media (max-width: 1024px) {
  .contact-content__modal {
    width: calc(var(--modal-width) * var(--modal-scale-with-value-1024));
    left: calc(
      50% - var(--modal-width) * var(--modal-scale-with-value-1024) / 2
    );
  }
}

@media (max-width: 768px) {
  .contact-content__modal {
    width: calc(var(--modal-width) * var(--modal-scale-with-value-768));
    height: calc(var(--modal-height) * var(--modal-scale-height-value-768));
    left: calc(
      50% - var(--modal-width) * var(--modal-scale-with-value-768) / 2
    );
  }

  .contact-content__modal-form {
    font-size: calc(
      var(--modal-label-text-font-size) * var(--text-scale-value-768)
    );
  }

  .contact-content__form-input--text,
  .contact-content__form-input--email,
  .contact-content__form-input--textarea {
    padding: 9px;
    margin: 0 10px 8px;
    border: 1px solid var(--modal-border-color);
  }

  .contact-content__form-input--submit {
    margin: 20px;
    padding: 8px 5px;
    font-size: calc(
      var(--modal-button-text-font-size) * var(--text-scale-value-768)
    );
    box-shadow: 0 0 3px var(--modal-button-shadow-color);
  }
}

@media (max-width: 480px) {
  .contact-content__modal {
    width: calc(var(--modal-width) * var(--modal-scale-with-value-480));
    height: calc(var(--modal-height) * var(--modal-scale-height-value-480));
    left: calc(
      50% - var(--modal-width) * var(--modal-scale-with-value-480) / 2
    );
  }

  .contact-content__modal-form {
    font-size: calc(
      var(--modal-label-text-font-size) * var(--text-scale-value-480)
    );
  }

  .contact-content__form-input--text,
  .contact-content__form-input--email,
  .contact-content__form-input--textarea {
    padding: 9px;
    margin: 0 10px 9px;
    border: 1px solid var(--modal-border-color);
  }

  .contact-content__form-input--submit {
    margin: 14px;
    padding: 7px 5px;
    font-size: calc(
      var(--modal-button-text-font-size) * var(--text-scale-value-480)
    );
    box-shadow: 0 0 3px var(--modal-button-shadow-color);
  }
}
