@import "./App.css";

:root {
  --header-hight: 120px;
  --header-width: 100%;
  --header-text-color: rgb(77, 77, 77);
}

.header__container {
  height: var(--header-hight);
  background: var(--medium-green);
  border-bottom: solid 2px var(--orange);
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  width: var(--header-width);
  position: fixed;
}

.logo__img {
  height: calc(var(--header-hight) * 0.9);
  margin: 0 16px;
}

/* Navigation */
.global-nav__container {
  width: 80%;
}

.global-nav {
  display: flex;
  width: 100%;
}

.global-nav__list {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.global-nav__list-item {
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: bold;
  border-left: 1.5px solid var(--light-green);
  width: 180px;
  text-align: center;
}

.global-nav__list-item:last-child {
  border-right: 1.5px solid var(--light-green);
}

/* link ---> */
.global-nav__list-item-link:link {
  color: var(--light-green);
}

.global-nav__list-item-link:visited {
  color: var(--light-green);
}

.global-nav__list-item-link:hover {
  color: var(--orange);
}

.global-nav__list-item-link:active {
  color: var(--orange);
}
/* <---link */
/* <------ header*/
