.home-content {
  margin-top: var(--header-hight);
  background-color: var(--light-green);
  padding: 20px;
}

.home-content__container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.home-content__header {
  font-size: 1.5em;
  margin: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 2rem;
  text-align: center;
}

.home-content__paragraph {
  margin: 30px 20px;
}

/* grid containers --->*/
.home-content__recipes-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-content__recipes-info {
  margin: 30px;
}

.home-content__recipes-photo-container {
  margin: 30px 0px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}

.home-content__recipes-description {
  font-family: Cormorant, sans-serif;
  font-size: 1.2rem;
}

.home-content__recipes-ingredients-container {
  margin: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.home-content__recipes-instructions-container {
  grid-column: 1/-1;
  grid-row: 2/3;
}
/*<--- grid containers*/

.home-content__recipes-photo {
  width: 70%;
}

.home-content__recipes-list {
  list-style-type: none;
  flex-direction: column;
}

.home-content__recipes-list--option {
  /* display: grid; */
  background-color: #ebf1f075;
  align-items: baseline;
  list-style-type: none;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  margin: 40px 20px;
}

.home-content__ingredients-list {
  list-style-type: none;
}

.home-content__ingredients-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.home-content__recipes-name {
  font-size: 1.4em;
  margin: 30px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

.home-content__recipes-ingredients {
  text-transform: capitalize;
}

.home-content__recipes-instructions {
  text-transform: capitalize;
}

.home-content__instructions-list {
  margin-left: 20px;
}

.home-content__instructions-list--option {
  margin-bottom: 10px;
  padding: 10px;
}
