.home-content {
  margin-top: var(--header-hight);
  background-color: var(--light-green);
  padding: 20px;
}

.home-content__container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.home-content__header {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.home-content__recipes-list {
  list-style-type: none;
  flex-direction: column;
}

.home-content__recipes-list--option {
  /* display: grid; */
  align-items: baseline;
  list-style-type: none;
  border: 1px solid var(--light-green);
  border-radius: 8px;
}

.home-content__ingredients-list {
  list-style-type: none;
}

.home-content__ingredients-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.home-content__recipes-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.home-content__recipes-ingredients {
  text-transform: capitalize;
}

.home-content__recipes-instructions {
  text-transform: capitalize;
}

.home-content__instructions-list {
  margin-left: 20px;
}

.home-content__instructions-list--option {
  margin-bottom: 10px;
  padding: 10px;
}
