@import "./App.css";

/* Main container */
main {
  margin-top: var(--header-hight);
  background-color: var(--light-green);
  padding: 20px;
  text-align: center;
}

/* Recipes section */
.recipes {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.recipes h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.recipes__list {
  list-style: none;
}

.recipes__list--option {
  display: flex;
  /* justify-content: space-around; */
  align-items: baseline;
}

.recipes__items-list {
  list-style: none;
  padding: 0;
  border: 1px solid var(--light-green);
  border-radius: 4px;
  /* background-color: var(--orange); */
  /* flex-grow: 1; */
  flex-basis: 0;
}

.recipes li {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.recipes ul li {
  margin-left: 20px;
}

.recipes p {
  font-size: 1em;
}
/* <------ main*/
