@import "./App.css";

.recipes-content {
  margin-top: var(--header-hight);
  padding: 20px;
}

.recipes-content__container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.recipes-content__header {
  font-size: 1.5em;
  margin: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  padding: 20px;
  border-bottom: 2px solid var(--header-text-color);
}

.recipes-content__paragraph {
  margin: 30px 80px;
  text-align: justify;
  font-size: 1.1rem;
}

.recipes-content__recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  /* flex-direction: column; */
}

.recipes-content__recipes-photo {
  width: 30%;
}

.recipes-content__recipes-list--option {
  width: 380px;
  height: 40vh;
  align-items: baseline;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-content__ingredients-list {
  list-style-type: none;
}

.recipes-content__ingredients-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes-content__recipes-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  /* justify-self: end; */
}

.recipes-content__recipes-ingredients {
  text-transform: capitalize;
}

.recipes-content__recipes-instructions {
  text-transform: capitalize;
}

.recipes-content__instructions-list {
  margin-left: 20px;
}

.recipes-content__instructions-list--option {
  margin-bottom: 10px;
  padding: 10px;
}
