.button {
  color: var(--medium-green);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: inherit;
  margin: 10px;
  padding: 10px 25px;
  border: 2px solid var(--medium-green);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--modal-button-text-font-size);
  min-width: 150px;
}

.button:hover {
  color: var(--white);
  background-color: var(--medium-green);
  border: 2px solid var(--medium-green);
}

.button:focus {
  color: var(--white);
  background-color: var(--medium-green);
  border: 2px solid var(--medium-green);
}

.button:active {
  color: var(--white);
  background-color: var(--light-gray);
  border: 1.5px solid var(--light-gray);
}

.button.dark {
  background-color: var(--medium-green--dark);
  box-shadow: 0 0 10px #0000001a;
}

.button.dark {
  box-shadow: none;
  color: var(--modal-text-color);
  background-color: inherit;
  border: 1.5px solid var(--modal-text-color);
}

.button.dark:hover {
  box-shadow: none;
  color: var(--medium-green--dark);
  text-shadow: none;
  background-color: var(--modal-text-color);
  border: 1.5px solid var(--modal-text-color);
}

.button.dark:focus {
  box-shadow: none;
  color: var(--medium-green--dark);
  text-shadow: none;
  background-color: var(--modal-text-color);
  border: 1.5px solid var(--modal-text-color);
}

.button.dark:active {
  box-shadow: none;
  color: var(--medium-green--dark);
  text-shadow: none;
  background-color: var(--header-text-color--dark);
  border: 1.5px solid var(--header-text-color--dark);
}
