.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--modal-label-text-font-size);
  margin-top: 30px;
}

.auth__form-input {
  width: 80%;
  padding: 10px;
  margin: 0 10px 6px;
  border: 1.5px solid var(--modal-border-color);
  border-radius: 5px;
  cursor: text;
}

.auth__form-label {
  display: block;
  margin: 15px 60px 5px;
  font-weight: bold;
  align-self: flex-start;
}

.auth__form-button {
  background-color: var(--medium-green);
  color: var(--white);
  margin: 30px 20px;
  padding: 10px 20px;
  border: 2px solid var(--white);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--modal-button-text-font-size);
  width: 40%;
  font-weight: 600;
}

.auth__form-button:hover {
  background-color: var(--white);
  color: var(--medium-green);
  border: 2px solid var(--white);
}

.auth__form-button:active {
  box-shadow: none;
  color: var(--white);
  text-shadow: none;
  background-color: var(--light-gray);
  border: 1.5px solid var(--light-gray);
}

.auth__form-button.dark {
  box-shadow: none;
  color: var(--modal-text-color);
  background-color: #252927;
  border: 1.5px solid var(--modal-text-color);
}

.auth__form-button.dark:hover {
  box-shadow: none;
  color: var(--medium-green--dark);
  text-shadow: none;
  background-color: var(--header-text-color--dark);
  border: 1.5px solid var(--header-text-color--dark);
}

.auth__form-button.dark:active {
  box-shadow: none;
  color: var(--white);
  text-shadow: none;
  background-color: var(--orange--dark);
  border: 1.5px solid var(--orange--dark);
}
