.delete-account__container {
  background-color: var(--light-green);
  width: var(--modal-width);
  border: 1px solid var(--light-green);
  border-radius: 25px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-account__container.dark {
  background-color: #252927;
  color: var(--modal-text-color);
  border: 1px solid #252927;
}

.delete-account__error-message {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 15px;
  color: var(--red-medium);
}

.delete-account__error-message.dark {
  color: var(--red-light);
}

.delete-account__success-message {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 15px;
  color: var(--medium-green);
}

.delete-account__success-message.dark {
  color: var(--medium-green);
}

.delete-account__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-account__input-container.dark {
  /* color: var(--beige-light); */
}

.delete-account__input {
  width: 80%;
  padding: 10px;
  margin: 0 10px 6px;
  border: 1.5px solid var(--light-green);
  border-radius: 8px;
  cursor: text;
}

.delete-account__input.dark {
  background-color: var(--medium-green--dark);
  border: 1.5px solid #252927;
}

.delete-account__label {
  display: block;
  margin: 0 60px 5px;
  font-weight: bold;
  align-self: flex-start;
}
