.header-text {
  font-size: 1.5rem;
  margin: 30px 80px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid var(--header-text-color--dark);
}
