.header-text {
  color: var(--dark-green);
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 60px 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  word-spacing: 0.8rem;
  text-align: center;
  padding: 20px;
}

.header-text span {
  background-color: var(--white);
  padding: 0 25px;
}

/* .header-text::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--dark-green);
  margin: -15px 140px 20px;
} */

.header-text.dark {
  color: var(--header-text-color--dark);
}

.header-text.dark span {
  background-color: var(--medium-green--dark);
}
