.recipes-content__recipes-list--option {
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--fair-green);
}

.recipes-content__recipes-list--option.dark {
  background-color: #252927;
  border: 1px solid var(--light-green--dark);
}

.recipes-content__recipes-list--option:hover {
  background-color: var(--light-green);
}

.recipes-content__recipes-list--option.dark:hover {
  background-color: var(--light-green--dark);
}

.recipes-content__recipes-link,
.recipes-content__recipes-link:link,
.recipes-content__recipes-link:visited {
  text-decoration: none;
  color: var(--header-text-color);
}

.recipes-content__ingredients-list {
  list-style-type: none;
}

.recipes-content__ingredients-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes-content__recipes-name {
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.recipes-content__recipes-ingredients {
  text-transform: capitalize;
}

.recipes-content__recipes-instructions {
  text-transform: capitalize;
}

.recipes-content__instructions-list {
  margin-left: 20px;
}

.recipes-content__instructions-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes-content__recipes-link.dark,
.recipes-content__recipes-link.dark:link,
.recipes-content__recipes-link.dark:visited {
  color: var(--header-text-color--dark);
}
