.about-content__option-container {
  display: flex;
  flex-direction: row;
  padding: 40px;
  font-size: 1.2rem;
  margin: 30px 40px;
}

.about-content__text-container {
  width: 50%;
  margin: 30px 20px;
}

.about-content__sub-header {
  text-transform: uppercase;
  text-align: center;
  margin: 40px;
  font-weight: 500;
  font-size: 1.3rem;
}

.about-content__paragraph {
  text-align: justify;
}

.about-content__subheader {
  margin: 30px 80px;
  text-align: left;
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .about-content__option-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 20px 0px;
  }

  .about-content__text-container {
    width: 100%;
  }
}
