.home-content__all-recipes-link-container {
  display: flex;
  justify-content: center;
}

.home-content__paragraph {
  margin: 30px 80px;
  text-align: justify;
  font-size: 1.1rem;
}

/* grid containers --->*/
.home-content__recipes-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-content__recipes-info {
  margin: 30px 60px;
  text-align: justify;
}

.home-content__recipes-photo-container {
  margin: 30px 0px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}

.home-content__recipes-description {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 10px 15px;
  text-align: justify;
}

.home-content__recipes-ingredients-container {
  margin: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.home-content__recipes-instructions-container {
  grid-column: 1/-1;
  grid-row: 2/3;
}
/*<--- grid containers*/

.home-content__recipes-photo {
  width: 25vw;
}

.home-content__recipes-list {
  list-style-type: none;
  flex-direction: column;
}

.home-content__recipes-list--option {
  background-color: var(--lighter-green);
  align-items: baseline;
  list-style-type: none;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  width: 43%;
  cursor: pointer;
}

.home-content__recipes-list--option:hover {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}

.home-content__recipes-list--option.dark {
  background-color: #252927;
  border: 1px solid var(--light-green--dark);
}

.home-content__recipes-list--option.dark:hover {
  background-color: rgba(240, 248, 255, 0.224);
  border: 1px solid var(--light-green--dark);
}

.home-content__ingredients-list {
  list-style-type: none;
}

.home-content__ingredients-list--option {
  margin: 10px 0;
}

.home-content__recipes-image-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content__recipes-image {
  height: 80px;
  margin: 15px;
}

.home-content__recipes-ingredients {
  text-transform: capitalize;
}

.home-content__recipes-instructions {
  text-transform: capitalize;
}

.home-content__instructions-list {
  margin-left: 20px;
}

.home-content__instructions-list--option {
  margin: 10px 0;
}

.home__list--popular {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home-aphorism__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-text-color);
  background-color: var(--light-green);
  width: 100%;
  min-height: 30vh;
  margin-bottom: 60px;
}

.home-aphorism__content-container.dark {
  color: var(--header-text-color--dark);
  background-color: #252927;
}

.home-aphorism__container {
  height: 100px;
}

.home-aphorism__text {
  margin: 10px 30px;
  text-align: justify;
  font-size: 1.4rem;
}

.home-aphorism__author {
  margin: 10px 30px;
  text-align: right;
  color: rgb(89, 89, 89);
  color: var(--dark-green);
  font-style: italic;
  font-size: 1.1rem;
  font-weight: lighter;
}

.home-aphorism__author.dark {
  color: var(--medium-green);
}

.home__main-container {
  position: relative;
  display: inline-block;
  background-color: var(--light-green);
}

.home__main-image {
  width: 100%;
}

.home__main-text-header {
  position: absolute;
  z-index: 1;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7rem;
  font-weight: bold;
  text-align: right;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
}

.home__main-text {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(61, 89, 67, 0.232);
  padding: 10px 20px;
}
