.home-content__all-recipes-link-container {
  display: flex;
  justify-content: center;
}

.home-content__paragraph {
  margin: 30px 80px;
  text-align: justify;
  font-size: 1.1rem;
}

/* grid containers --->*/
.home-content__recipes-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-content__recipes-info {
  margin: 30px 60px;
  text-align: justify;
}

.home-content__recipes-photo-container {
  margin: 30px 0px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}

.home-content__recipes-description {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 10px 15px;
  text-align: justify;
}

.home-content__recipes-ingredients-container {
  margin: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.home-content__recipes-instructions-container {
  grid-column: 1/-1;
  grid-row: 2/3;
}
/*<--- grid containers*/

.home-content__recipes-photo {
  width: 25vw;
}

.home-content__recipes-list {
  list-style-type: none;
  flex-direction: column;
}

.home-content__recipes-list--option {
  background-color: #ebf1f075;
  align-items: baseline;
  list-style-type: none;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  width: 40%;
}

.home-content__ingredients-list {
  list-style-type: none;
}

.home-content__ingredients-list--option {
  margin: 10px 0;
}

.home-content__recipes-name {
  font-size: 1.2rem;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

.home-content__recipes-ingredients {
  text-transform: capitalize;
}

.home-content__recipes-instructions {
  text-transform: capitalize;
}

.home-content__instructions-list {
  margin-left: 20px;
}

.home-content__instructions-list--option {
  margin: 10px 0;
}

.home-content__recipes-list--option.dark {
  background-color: #252927;
  border: 1px solid var(--light-green--dark);
}

.home__list--popular {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
