:root {
  --header-hight: 80px;
  --header-width: 100%;
}

.header__container {
  height: var(--header-hight);
  background: var(--white);
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: var(--header-width);
  position: fixed;
  z-index: 999;
  border-bottom: 0.5px solid var(--dark-green);
}

.header__logo__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.6rem;
  color: var(--medium-green--dark);
}

.header__name.dark {
  color: var(--light-gray);
}

.logo__link__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.logo__img {
  height: calc(var(--header-hight) * 0.6);
  margin: 0 20px;
  border-radius: 50%;
}

/* Navigation */
.global-nav__container {
  height: 100%;
  flex-grow: 4;
}

.global-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: right;
  align-items: center;
}

.global-nav__list {
  list-style-type: none;
  display: flex;
  height: 100%;
}

.global-nav__list-item {
  text-transform: uppercase;
  font-weight: bold;
  min-width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--medium-green--dark);
}

.global-nav__list-item.dark {
  color: var(--header-text-color--dark);
}

.global-nav__list-item:active {
  color: var(--medium-green);
}

.global-nav__list-user {
  height: 100%;
  color: var(--dark-green);
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.global-nav__list-user--detail {
  color: var(--light-green);
  font-weight: bold;
}

.global-nav__list-item-link {
  height: 100%;
  color: var(--dark-green);
}

.global-nav__list-item-link:visited {
  color: var(--dark-green);
}

.global-nav__list-item-link:hover {
  color: var(--medium-green);
}

.global-nav__list-item-link:active {
  color: var(--orange);
}

.global-mode__container,
.header__account-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  height: 100%;
}

.global-mode__container {
  margin-right: 60px;
}

.global-mode__button,
.header__account-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.global-mode__icon,
.header__account-icon {
  height: 30px;
  width: 30px;
}

.header__account-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid var(--medium-green--dark);
}

.header__container.dark {
  background: var(--medium-green--dark);
  border-bottom: transparent;
  box-shadow: 0 20px 40px -20px #00000081;
}

.global-nav__list-item-link.dark:hover {
  color: var(--orange--dark);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--medium-green--dark);
  animation: underline 0.6s forwards;
}

.active.dark::after {
  background-color: var(--header-text-color--dark);
}

@media only screen and (max-width: 900px) {
  .header__name {
    display: none;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
