.header__container {
  height: var(--header-hight);
  background: var(--white);
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  width: var(--header-width);
  position: fixed;
  z-index: 999;
  border-bottom: 0.5px solid var(--dark-green);
}

.header__container.dark {
  background: var(--medium-green--dark);
  border-bottom: transparent;
  box-shadow: 0 20px 40px -20px #00000081;
}

.header__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.6rem;
  color: var(--medium-green--dark);
}

.header__name.dark {
  color: var(--light-gray);
}

.logo__img {
  height: calc(var(--header-hight) * 0.6);
  margin: 0 20px;
  border-radius: 50%;
}

.global-mode__icon,
.header__account-icon {
  height: 35px;
  width: 35px;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--medium-green--dark);
  animation: underline 0.6s forwards;
}

.active.dark::after {
  background-color: var(--header-text-color--dark);
}

@media only screen and (max-width: 900px) {
  .header__name {
    display: none;
  }
}

@media screen and (max-width: 768x) {
  .logo__img {
    margin: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header__container {
    align-items: center;
    justify-content: end;
    padding-right: 30px;
  }
}
