.recipe-details-content__description {
  margin: 10px 60px;
  text-align: justify;
  font-size: 1.1rem;
}

.recipe-details-content__container-recipe-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--fair-green);
  align-items: baseline;
  list-style-type: none;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  margin: 40px 20px;
  align-items: center;
}

.recipe-details-content__photo-container {
  margin: 30px 0px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.recipe-details-content__ingredients-container {
  margin: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.recipe-details-content__instructions-container {
  margin: 30px 60px;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.recipe-details-content__ingredients-list {
  list-style-type: none;
}

.recipe-details-content__ingredients-list--option {
  margin: 10px 0;
}

.recipe-details-content__recipes-ingredients,
.recipe-details-content__recipes-instructions {
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: underline;
}

.recipe-details-content__instructions-list {
  list-style: decimal;
}

.recipe-details-content__instructions-list--option {
  margin: 10px 15px;
}

.recipe-details-content__container-recipe-details.dark {
  background-color: #252927;
  border: 1px solid var(--light-green--dark);
}

@media screen and (max-width: 768px) {
  .recipe-details-content__container-recipe-details {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--fair-green);
    align-items: start;
    list-style-type: none;
    border: 1px solid var(--light-green);
    border-radius: 8px;
    margin: 40px 20px;
    align-items: center;
  }

  .recipe-details-content__photo-container {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .recipe-details-content__ingredients-container {
    margin: 30px 60px 0px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .recipe-details-content__photo-container {
    margin: 30px 0px;
    grid-column: 1/2;
    grid-row: -1/-2;
  }

  .recipe-details-content__instructions-container {
    margin: 30px 60px;
  }
}
