.recipes__content {
  display: flex;
  flex-direction: row;
  margin: 10px 40px;
}

.recipes__content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-evenly;
}
