.recipes-content {
  margin-top: var(--header-hight);
  padding: 20px;
}

.recipes-content__container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.recipes-content__paragraph {
  margin: 30px 80px;
  text-align: justify;
  font-size: 1.1rem;
}

.recipes-content__recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.recipes-content__recipes-photo {
  margin-top: 40px;
  height: 60%;
}

.recipes-content__recipes-list--option {
  width: 380px;
  height: 50vh;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ebf1f075;
}

.recipes-content__recipes-link,
.recipes-content__recipes-link:link,
.recipes-content__recipes-link:visited {
  text-decoration: none;
  color: var(--header-text-color);
}

.recipes-content__ingredients-list {
  list-style-type: none;
}

.recipes-content__ingredients-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes-content__recipes-name {
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  font-weight: 500;
}

.recipes-content__recipes-ingredients {
  text-transform: capitalize;
}

.recipes-content__recipes-instructions {
  text-transform: capitalize;
}

.recipes-content__instructions-list {
  margin-left: 20px;
}

.recipes-content__instructions-list--option {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes-content__container.dark {
  background-color: var(--medium-green--dark);
  box-shadow: 0 0 10px #0000001a;
}

.recipes-content__recipes-list--option.dark {
  background-color: #252927;
  border: 1px solid var(--light-green--dark);
}

.recipes-content__recipes-link.dark,
.recipes-content__recipes-link.dark:link,
.recipes-content__recipes-link.dark:visited {
  color: var(--header-text-color--dark);
}
