:root {
  --dark-green: #166563;
  --medium-green: #61b9b6;
  --light-green: #e4f1ef;
  --orange: #ff9400;
  --white: #ffffff;
  --dark-gray: #333333;
  --light-gray: #dddddd;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* header ---->*/
.header {
  display: flex;
  height: 9rem;
  background: var(--medium-green);
  border-bottom: solid 2px var(--orange);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.logo__img {
  height: 9rem;
  margin: 0 16px;
}

.global-nav {
  display: flex;
}

.global-nav__list {
  list-style-type: none;
}

.global-nav__list-item {
  margin: 20px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* link ---> */
.global-nav__list-item-link:link {
  color: var(--light-green);
}

.global-nav__list-item-link:visited {
  color: var(--light-green);
}

.global-nav__list-item-link:hover {
  color: var(--orange);
}

.global-nav__list-item-link:active {
  color: var(--orange);
}
/* <---link */
/* <------ header*/

/* main ---->*/

/* Main container */
main {
  margin-top: 9rem;
  background-color: var(--light-green);
  padding: 20px;
  text-align: center;
}

/* Recipes section */
.recipes {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.recipes h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.recipes ul {
  list-style: none;
  padding: 0;
  border: 1px solid var(--light-green);
  border-radius: 4px;
  /* background-color: var(--orange); */
}

.recipes li {
  margin-bottom: 10px;
  padding: 10px;
}

.recipes h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.recipes ul li {
  margin-left: 20px;
}

.recipes p {
  font-size: 16px;
}

/* Additional styling can be added based on your design preferences */

/* <------ main*/

/* footer ---->*/

/* Footer container */
.footer {
  border-top: solid 2px var(--orange);
  background-color: var(--dark-gray);
  color: var(--light-green);
  padding: 20px 0;
  text-align: center;
}

/* Footer content wrapper */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Footer logo */
.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Footer navigation links */
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: var(--white);
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--orange);
}

/* Footer social media links */
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social a {
  color: var(--white);
  font-size: 20px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: var(--orange);
}

img.footer__social-icon {
  height: 25px;
  margin: 10px;
}

/* Footer copyright section */
.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}

/* <------ footer*/
