:root {
  --dark-green: #166563;
  --medium-green: #93bcbb;
  --light-green: #e6edec;
  --orange: #dab887;
  --white: #ffffff;
  --dark-gray: #333333;
  --light-gray: #dddddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--header-text-color);
}

body {
  background-color: var(--light-green);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}
