@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 2s infinite;
  }
}
