.sign-up__content-paragraph {
  margin: 30px 80px;
  text-align: justify;
  font-size: 1.1rem;
}

.sign-up__content-modal {
  background-color: var(--medium-green);
  color: var(--white);
  min-height: 280px;
  width: var(--modal-width);
  border: 1px solid var(--medium-green);
  border-radius: 25px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.sign-up__content-modal.dark {
  background-color: #252927;
  color: var(--modal-text-color);
  border: 1px solid #252927;
}
